#coord12 {
  border-bottom: solid;
  border-right: solid;
  border-left: solid;
}

#coord21 {
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
}

#coord23 {
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
}

#coord32 {
  border-top: solid;
  border-right: solid;
  border-left: solid;
}
