#top-mid {
  border-bottom: solid;
  border-right: solid;
  border-left: solid;
  margin-bottom: -3px;
}

#left-mid {
  border-right: solid;
  border-bottom: solid;
  border-top: solid;
  margin-left: 3px;
}

#bottom-mid {
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  margin-left: -3px;
}

#right-mid {
  border-top: solid;
  border-right: solid;
  border-left: solid;
  margin-top: -3px;
}

.col-md-4 {
  padding: 3vh 1vw;
  text-align: center;
  font-size: 100px;
  font-weight: lighter;
}

.board {
  display: block;
  font-family: 'Patrick Hand SC';
}

body {
  background-image: url(img/ticTacToe.png);
  background-size: cover;
}

/* .board {
  display: grid;
  grid-template-columns: 1fr 300px;
} */
