#top-mid {
  border-bottom:
   10px solid;
  border-right: 10px solid;
  border-left: 10px solid;
  margin-bottom: -3px;
}

#left-mid {
  border-right: 10px solid;
  border-bottom: 10px solid;
  border-top: 10px solid;
  margin-left: 3px;
}

#bottom-mid {
  border-left: 10px solid;
  border-top: 10px solid;
  border-bottom: 10px solid;
  margin-left: -3px;
}

#right-mid {
  border-top: 10px solid;
  border-right: 10px solid;
  border-left: 10px solid;
  margin-top: -3px;
}

.col-md-4 {
  padding: 3vh 1vw;
  text-align: center;
  font-size: 100px;
  font-weight: lighter
}

.board {
  display: block;
  color: white;
}

body {
  /* background-image: url(img/ticTacToe.png); */
  background-color: black;
  background-size: cover;
  background-blend-mode: difference;
  color: white;
  font-family: 'Patrick Hand SC';
  text-align: center;
}

.winnerX, .winnerO {
  display: none;
  text-align: center;
  background-color: #1fbfac;
  border-radius: 5px;
  margin-top: 10vh;
  padding: 5vw 5vh;
  font-size: 50px;
}

.jumbotron {
  background-color: #1fbfac;
}

h1 {
  font-size: 50px;
}
/* .board {
  display: grid;
  grid-template-columns: 1fr 300px;
} */
